[Unit]
Description=EnPassant App
[Service]
Environment="PORT=80"
User=spinetrak
WorkingDirectory=/home/spinetrak/prod/enpassant
ExecStart=/home/spinetrak/prod/enpassant/run.sh
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target